.Homiy {
    padding: 70px 120px;
    width: 100%;
}

.Logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Logo img {
    margin: 50px 35px;
}

@media(min-width:0) and (max-width:800.9px) {
    .Homiy {
        padding: 40px 15px;
        width: 100%;
        display: none;

    }
}

@media(min-width:801px) and (max-width:1200.9px) {
    .Homiy {
        padding: 40px 20px;

    }
    .Logo {
        margin: 1rem 0;
    }
    .Logo {
        overflow: auto;
    }
}