.AkademiyaHeader {
    background-image: url("../../assets/akademiya.png");
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.AkademiyaHeader h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 225px;
    line-height: 383px;
    color: #FFFFFF;
    width: 100%;
}