.AkademiyaHeader {
    background-image: url("../../assets/akademiya.png");
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.AkademiyaHeader h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    font-size: 225px;
    line-height: 383px;
    color: #FFFFFF;
    width: 100%;
}
@media(min-width:0) and (max-width:900.9px){
    .AkademiyaHeader {
        height: 90vh;
    }
    .AkademiyaHeader h1 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        font-size: 55px;
        line-height: 60px;
        color: #FFFFFF;
        width: 100%;
    }
}
@media(min-width:901px) and (max-width:1200.9px){
    .AkademiyaHeader {
        height: 90vh;
    }   
    .AkademiyaHeader h1 {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 700;
        text-align: center;
        font-size: 105px;
        line-height: 383px;
        color: #FFFFFF;
        width: 100%;
    }
}