.image {
  height: 467px;
  width: 100%;
  border-radius: 10px;
}

.image.image1,
.image.image2,
.image.image3,
.image.image4,
.image.image5,
.image.image6 {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.image.image1 {
  background: url('../../assets/dokon1.webp');
}

.image.image2 {
  background: url('../../assets/dokon4.webp');
}

.image.image3 {
  background: url('../../assets/img1dokon.webp');
}

.image.image4 {
  background: url('../../assets/product1.webp');
}

.image.image5 {
  background: url('../../assets/product2.webp');
}

.image.image6 {
  background: url('../../assets/product3.webp');
}

.DokonCarousel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url('../../assets/dokoncarousel.webp');
  padding: 30px 30px;
  margin: 60px 0;
}

.Block {
  width: 35%;
}

.App {
  width: 100%;
}

@media (min-width: 0) and (max-width: 900.9px) {
  .DokonCarousel {
    display: none;
  }
}
