.DokonHeader {
    background-image: url("../../assets/dokon1.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.Wrapper {
    width: 100%;
    height: 100%;
    background-color: red;
    position: absolute;
    opacity: 0.4;
}

.DokonHeader h1 {
    z-index: 1 !important;
    font-family: 'Bebas';
    font-style: normal;
    font-weight: 600;
    font-size: 133.556px;
    line-height: 316px;

    color: #FFFFFF;
}