.image {
    height: 467px;
    width: 100%;
    border-radius: 10px;
}

.image.image1 {
    background: url("../../assets/product3.png");
    background-size: 100% 100% !important;

}

.image.image2 {
    background: url("../../assets/product2.png");
    background-size: 100% 100% !important;

}

.image.image3 {
    background: url("../../assets/product6.png");
    background-size: 100% 100% !important;

}

.image.image4 {
    background: url("../../assets/product5.png");
    background-size: 100% 100% !important;

}

.image.image5 {
    background: url("../../assets/product8.png");
    background-size: 100% 100% !important;

}

.image.image6 {
    background: url("../../assets/dokon4.png");
    background-size: 100% 100% !important;
}

.DokonCarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../../assets/dokoncarousel.png");
    padding: 30px 30px;
    margin: 60px 0;
}

.Block {
    width: 35%;
}

.App {
    width: 100%;
}

@media(min-width:0) and (max-width:900.9px) {
    .DokonCarousel {
        display: none;
    }
}