.DokonProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.DokonProduct h1 {
    font-family: 'Jost';
    font-style: normal;
    margin-top: 30px;
    font-weight: 600;
    font-size: 32px;
    width: 100%;
    line-height: 46px;
    text-align: center;
    color: #000000;
}

.DokonProduct p {
    width: 670px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;

    color: #000000;
}

.Block__1 {
    width: 45%;
}

.Block__2 {
    width: 45%;
}

.Wrapper {
    width: 100%;
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #BF0000;
    padding: 24px 50px;
}

.img1 {
    width: 463px;
    height: 346px;
}

.Block {
    height: 360px;
}

.Block img {
    height: 100%;
    border-radius: 10px;

}

.Block__2 h1 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
    color: #FFFFFF;
}

.Block__2 h2 {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;

    color: #FFFFFF;
}
@media(min-width:0) and (max-width:990.9px){
    .DokonProduct h1 {
        font-size: 22px;
    }
    .DokonProduct p {
        width: 100%;
        font-size: 17px;
    }
    .Wrapper {
        width: 100%;
        margin-top: 38px;
        padding: 14px 15px;
    }
    .Block__1 {
        width: 90%;
    }
    
    .Block__2 {
        width: 90%;
    }
    .Block {
        height: 306px;
    }
    .img1 {
        width: 363px;
        height: 306px;
    }
    .Block__2 h1 {
        font-size: 20px;
    }
    .Block__2 h2 {
        font-size: 17px;
        text-align: center;
    }
}
@media(min-width:991px) and (max-width:1200.9px){
    .DokonProduct h1 {
        font-size: 21px;
    }  
    .Block__1 {
        width: 47%;
    }
    
    .Block__2 {
        width: 47%;
    }
    .Block__2 h2 {
        text-align: center;
        font-size: 17px;
    }
}