* {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}



.Block__Product {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 25%;
    height: 275px;
    text-align: center;
    color: #fff;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:hover{
    cursor: pointer;
}
.card:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
   
    pointer-events: none;
    background: linear-gradient(0deg, rgba(191, 0, 0, 0.7), rgba(191, 0, 0, 0.7));
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:hover:after {
    opacity: 1;
    transition: opacity calc(var(--d) * 1.5) var(--e);
}

.card:nth-child(1):before {
    background-image: url("../../assets/dokon1.png");
}

.card:nth-child(2):before {
    background-image: url("../../assets/dokon4.png");
}

.card:nth-child(3):before {
    background-image: url("../../assets/img1dokon.png");
}

.card:nth-child(4):before {
    background-image: url("../../assets/product1.png");
}

.card:nth-child(5):before {
    background-image: url("../../assets/product2.png");
}

.card:nth-child(6):before {
    background-image: url("../../assets/product3.png");
}

.card:nth-child(7):before {
    background-image: url("../../assets/product5.png");
}
.card:nth-child(8):before {
    background-image: url("../../assets/dokon1.png");
}
.card:nth-child(9):before {
    background-image: url("../../assets/dokon4.png");
}
.card:nth-child(10):before {
    background-image: url("../../assets/img1dokon.png");
}
.card:nth-child(11):before {
    background-image: url("../../assets/product6.png");
}
.card:nth-child(12):before {
    background-image: url("../../assets/product8.png");
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content>*+* {
    margin-top: 1rem;
}

.title {
    font-size: 25px;
    font-weight: bold;
    line-height: 35px;
}

.copy {
    font-size: 15px;
    font-style: italic;
    line-height: 25px;
}
@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }

    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }

    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }

    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }

    .card:hover .content>*:not(.title),
    .card:focus-within .content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content>*:not(.title) {
        transition-duration: 0s;
    }
}