.wrap {
  background-image: url(../../assets/images/bg_statistic.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0c0a4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
}

.text_block,
.img_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Jost', sans-serif !important;
  font-style: normal;
  color: #ffffff;
}

.text_block {
  width: 50%;
}

.text_block h1 {
  width: auto;
  font-weight: 500;
  font-size: 47.9943px;
  line-height: 69px;
  color: #ffffff;
  border-bottom: 2.3px solid #fff;
  margin-right: auto;
}

.text_block p {
  font-weight: 400;
  font-size: 27.4012px;
  line-height: 40px;
  color: #ffffff !important;
  padding: 0 !important;
}

.img_block {
  border: 2px solid firebrick;
  padding: 30px 50px;
}

.img_block h1 {
  font-weight: 600;
  font-size: 47.3958px;
  line-height: 68px;
  text-align: center;
  margin: 0;

  color: #ffffff;
}

@media screen and (max-width: 600.9px) {
  .wrap {
    padding: 30px;
    flex-direction: column-reverse;
  }
  .text_block {
    width: 100%;
  }
  .text_block h1{
    margin: 0 0 1rem 0;
    font-size: 40px;
  }
  .text_block p{
    font-size: 20px;
    line-height: 30px;
  }
  .img_block{
    padding: 0;
    border: none;
    flex-direction: column-reverse;
  }
  .img_block h1{
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 1rem;
  }
  .img_block img{
    width: 80%;
  }
}

@media (min-width: 600.9px) and (max-width: 1100px) {
  .wrap{
    flex-direction: column-reverse;
    padding: 50px 30px;
  }
  .text_block{
    width: 100%;
  }
  .text_block h1{
    margin-right: 0;
    margin-top: 2rem;
    font-size: 40px;
    line-height: 59px;
  }
  .text_block p{
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  .img_block{
    border: 0;
    padding:0;
    flex-direction: column-reverse;
  }
  .img_block img{
    width: 80% !important;
    margin-top: 20px !important;
  }
  .img_block h1{
    font-size: 30px;
    line-height: 49px;
    margin-bottom: 1rem;
  }
}

@media (min-width: 1100.9px) and (max-width: 1428.9px) {
  .wrap{
    padding: 80px 30px;
  }
  .img_block img{
    width: 80%;
  }
  .img_block{
    padding: 30px 0 0;
    border: none;
  }
  .img_block h1{
    font-size: 30px;
    line-height: 58px;
  }

  .text_block h1{
    font-size: 30px;
    line-height: 59px;
  }
  .text_block p{
    font-size: 20px;
    line-height: 30px;
  }
}