.main_container {
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 160px;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_container__lText {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 70vh;
  margin-top: 10vh;
  justify-content: center;
}

.main_container__lText h3 {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 35.9531px;
  line-height: 100.5%;

  letter-spacing: -0.055em;

  color: #ffffff;
  padding-left: 7px;
}

.main_container__lText h1 {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 91px;
  letter-spacing: -0.055em;
  animation: move linear 2000ms infinite;

  color: #ffffff;
  background-image: url(../../assets/images/home_title_bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 10px 10px 10px 15px;
}
@keyframes move {
  0% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
  25% {
    text-shadow: -4px -4px 0 hsla(180, 100%, 50%, 1),
      -3px -3px 0 hsla(180, 100%, 50%, 1), -2px -2px 0 hsla(180, 100%, 50%, 1),
      -1px -1px 0 hsla(180, 100%, 50%, 1), 4px 4px 0 hsla(0, 100%, 50%, 1),
      3px 3px 0 hsla(0, 100%, 50%, 1), 2px 2px 0 hsla(0, 100%, 50%, 1),
      1px 1px 0 hsla(0, 100%, 50%, 1);
  }
  50% {
    text-shadow: -4px 4px 0 hsla(0, 100%, 50%, 1),
      -3px 3px 0 hsla(0, 100%, 50%, 1), -2px 2px 0 hsla(0, 100%, 50%, 1),
      -1px 1px 0 hsla(0, 100%, 50%, 1), 4px -4px 0 hsla(180, 100%, 50%, 1),
      3px -3px 0 hsla(180, 100%, 50%, 1), 2px -2px 0 hsla(180, 100%, 50%, 1),
      1px -1px 0 hsla(180, 100%, 50%, 1);
  }
  75% {
    text-shadow: 4px 4px 0 hsla(180, 100%, 50%, 1),
      3px 3px 0 hsla(180, 100%, 50%, 1), 2px 2px 0 hsla(180, 100%, 50%, 1),
      1px 1px 0 hsla(180, 100%, 50%, 1), -4px -4px 0 hsla(0, 100%, 50%, 1),
      -3px -3px 0 hsla(0, 100%, 50%, 1), -2px -2px 0 hsla(0, 100%, 50%, 1),
      -1px -1px 0 hsla(0, 100%, 50%, 1);
  }
  100% {
    text-shadow: 4px -4px 0 hsla(0, 100%, 50%, 1),
      3px -3px 0 hsla(0, 100%, 50%, 1), 2px -2px 0 hsla(0, 100%, 50%, 1),
      1px -1px 0 hsla(0, 100%, 50%, 1), -4px 4px 0 hsla(180, 100%, 50%, 1),
      -3px 3px 0 hsla(180, 100%, 50%, 1), -2px 2px 0 hsla(180, 100%, 50%, 1),
      -1px 1px 0 hsla(180, 100%, 50%, 1);
  }
}
.main_container__lText h2 {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 63px;
  letter-spacing: -0.055em;

  color: #ffffff;
  padding-left: 15px;
}

.main_container__RText_block {
  border-right: 1.12202px solid rgba(189, 201, 213, 0.5);
  margin: 2rem 0;
}

.main_container__RText {
  width: 35%;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.3) 2.29%,
    rgba(172, 172, 172, 0.2) 97.28%
  );
  backdrop-filter: blur(8.41518px);

  border-radius: 22.4405px;
  margin-right: 40px;
  padding: 0 40px;
}

.main_container__RText__first_line,
.main_container__RText__first_line__img,
.main_container__RText_text,
.main_container__RText_text p {
  display: flex;
}

.main_container__RText__first_line {
  justify-content: space-between;
  padding-right: 20px;
}

.main_container__RText__first_line__img img:last-child {
  margin-left: -15px;
}

.wrap img {
  object-fit: cover;
}

.main_container__RText_text {
  margin-top: 20px;
}

.main_container__RText_text strong {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20.1964px;
  line-height: 29px;

  color: #bf2449;
}

.main_container__RText_text p {
  opacity: 0.7;
  margin-left: 15px;
  align-items: center;
}

.main_container__RText p {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15.7083px;
  line-height: 23px;

  color: #ffffff;
  margin-bottom: 0;
}

.main_container__RText__endp {
  margin-top: 6px;
}

/* --------------------statistic-------------------- */
.statistic {
  background-image: url(../../assets/images/bg_statistic.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #08092f;
  color: #ffffff;

  font-family: 'Jost', sans-serif;
  font-style: normal;
  padding: 2rem 50px;
}

.statistic_wrap {
  display: flex;
  flex-wrap: nowrap;
}

.statistic h1 {
  font-weight: 600;
  font-size: 130px;
  line-height: 200px;

  width: 90%;
  text-align: center;
  color: #ffffff;
}

.statistic__text_block {
  width: 50%;
}

.statistic__text_block p {
  font-weight: 700;
  font-size: 36px;
  line-height: 52px;
  display: flex;
  align-items: center;
  margin: 0;
}

.statistic__text_block .match hr {
  height: 1px;
  width: 250px;
  margin-left: 20px;
}

.statistic__text_block h6 {
  font-weight: 600;
  font-size: 30px;
  line-height: 43px;
  text-align: center;

  color: #ffffff;
  margin-top: 50px;
}

.statistic__text_block__clubs {
  width: 70%;
  margin: 50px auto 0;
  justify-content: space-between;
}

.statistic__text_block__clubs,
.statistic__text_block__clubs div {
  display: flex;
}

.statistic__text_block__clubs div {
  width: 40%;
  align-items: center;
}

.statistic__text_block__clubs h2 {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;

  color: #ffffff;
}

.statistic__text_block__clubs img {
  object-fit: contain;
  margin-right: 10px;
}

.statistic__main_block {
  width: 50%;
  background: #050039;
}

.statistic__main_block h3 {
  width: 40%;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;

  color: #ffffff;
  padding: 15px 50px;
  border-bottom: 2px solid #fff;
  margin-bottom: 0;
}

.statistic__main_block_box,
.statistic__main_block_box_div {
  display: flex;
}

.statistic__main_block
  .statistic__main_block_box:last-child
  .statistic__main_block_box_div,
.statistic__main_block .statistic__main_block_box:last-child h3 {
  border-bottom: none;
}

.statistic__main_block_box_div {
  width: 60%;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  align-items: center;
}
.statistic__main_block_box_div h2 {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;

  color: #ffffff;
  margin: 0 10px;
}

.match {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600.9px) {
  .main_container {
    flex-direction: column;
    justify-content: center;
    height: 95vh;
    margin-top: 3rem;
  }
  .main_container__lText {
    height: auto;
    margin-top: 0;
    width: 90%;
  }

  .main_container__RText {
    width: 90%;
    padding: 0 30px;
    margin: 5%;
  }

  .main_container__lText h1 {
    font-size: 30px;
    line-height: 41px;
    padding: 10px 10px 10px 15px;
  }

  .main_container__RText .main_container__RText_block:last-child {
    display: none;
  }
  .main_container__lText h2 {
    font-size: 20px;
    line-height: 33px;

    padding-left: 15px;
  }

}

@media screen and (max-width: 1428.9px) {
  
  .statistic {
    height: auto;
    padding: 2rem 15px;
  }

  .statistic__text_block,
  .statistic__main_block {
    width: auto;
  }
  .statistic__text_block p {
    font-size: 26px;
    line-height: 42px;
  }

  .statistic__text_block,
  .statistic_wrap {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .statistic h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .match hr {
    display: none;
  }
  .match {
    margin: 0 auto;
    justify-content: center;
  }

  .statistic__text_block h6 {
    font-size: 20px;
    line-height: 33px;
    margin-top: 10px;
  }
  .statistic__text_block h6:last-child{
    display: none;
  }
  .statistic__text_block__clubs{
    display: none;
  }
  .statistic__main_block{
    width: 100%;
  }
  .statistic__main_block h3{
    width: 25%;
    padding: 15px 10px;
    font-size: 14px;
    line-height: 20px;
  }
  .statistic__main_block_box_div{
    width: 75%;
    padding: 0 10px;
  }
  .statistic__main_block_box_div h2{
    font-size: 12px;
    line-height: 20px;
  }
  .statistic__main_block_box_div img{
    width: 30px;
  }
}

@media (min-width: 601px) and (max-width: 1200.9px) {
  .main_container {
    flex-direction: column;
    justify-content: center;
  }
  .main_container__lText,
  .main_container__RText {
    width: 90%;
  }
  .main_container__lText {
    margin-top: 2rem;
    height: auto;
  }
  .main_container__RText .main_container__RText_block:last-child {
    display: none;
  }

  .main_container__lText h1 {
    font-size: 70px;
    line-height: 81px;
    padding: 10px 10px 10px 15px;
  }
  .main_container__lText h2 {
    font-size: 40px;
    line-height: 53px;

    padding-left: 15px;
  }
}

@media (min-width: 1201px) and (max-width: 1400.9px) {
  .main_container__lText h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .main_container__lText h2 {
    font-size: 50px;
    line-height: 60px;
  }
  .main_container__RText {
    width: 42%;
  }
}
