.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 40px;
  background-image: url(../../assets/images/logo_light.png);
  background-repeat: no-repeat;
  background-position: right;
}

.logo img{
  object-fit: cover;
}






/* ----------------------sm navbar---------------------- */


#nav{
  height: 6rem;
  width: 100vw;
  background-color: rgba(0, 7, 34);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
}

/*Styling logo*/
.logo2{
  padding:1vh 1vw;
  text-align: center;
}
.logo2 img {
  height: 5rem;
  width: 5rem;
  object-fit: contain;
}

/*Styling Links*/
.nav_links{
  display: flex;
  list-style: none; 
  width: 88vw;
  padding: 0 0.7vw;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.nav_links li a{
  text-decoration: none;
  margin: 0 0.7vw;
  color: #fff;
  font-size: 18px;
}
.nav_links li a:hover {
  color: #61DAFB;
}
.nav_links li {
  position: relative;
}
.nav_links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #61DAFB;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav_links li a:hover::before{
  width: 80%;
}

/*Styling Buttons*/
.login-button{
  background-color: transparent;
  border: 1.5px solid #f2f5f7;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  margin-left: 2vw;
  font-size: 1rem;
  cursor: pointer;

}
.login-button:hover {
  color: #131418;
  background-color: #f2f5f7;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}
.join_button{
  color: #131418;
  background-color: #61DAFB;
  border: 1.5px solid #61DAFB;
  border-radius: 2em;
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
}
.join_button:hover {
  color: #f2f5f7;
  background-color: transparent;
  border:1.5px solid #f2f5f7;
  transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav_links{
      position: fixed;
      background: rgba(0, 7, 34);
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav_links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav_links li{
      opacity: 0;
      margin: 1rem !important;
  }
  .nav_links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav_links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav_links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav_links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav_links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav_links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav_links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}